<!DOCTYPE html>
<html>
<head>
  <title>Elise Worthy | Lover of Dinosaurs | <%= controller.action_name.capitalize %></title>
  <%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
  <%= stylesheet_link_tag 'blueprint/print', :media => 'print' %>
</head>
<body>

<%= yield %>

</body>
</html>
